body {
    background: lightgray;
}

#map {
    height: 82vh;
}

#mapContainer {
    margin-top: 10vh;
    position: relative;
}

#infoTableContainer {
    position: absolute;
    top: 15vh;
    margin-left: 10px;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    z-index: 1050;
}

#infoTable {
    margin-top: 20px;
}

#objectInfoLabel {
    font-weight: bold;
    text-align: center;
}

.objectData {
    margin-top: 20px;
}

.row {
    margin-top: 5px;
}

.saveButton {
    margin-top: 10px;
    margin-bottom: 100px;
}

a {
    color: black;
}